.accept_form
  %h2
    = @quest.title
  Category:
  = @quest.category
  %br
  Description:
  = @quest.description
  %br
  Starting:
  = @quest.start_date
  %br
  Ending:
  = @quest.end_date
  %br
  Xp Awarded:
  = @quest.xp
  %br
  You have already accepted this Quest!

