#create_quest
  .checkpoints_create
    = form_for @checkpoint, url: set_location_path, :html => {:id => "check_create"} do |i|
      = i.hidden_field :quest_id, :value => (@quest.id)
      %br
      = i.fields_for :locations do |h|
        = h.text_field :name, :placeholder => "Name (Dev Bootcamp)"
        %br
        = h.text_field :street, :placeholder => "Street (ex. 48 Wall St)"
        %br
        = h.text_field :city, :placeholder => "City (ex. New York)"
        %br
        = h.text_field :state, :placeholder => "State (ex. NY)"
        %br
        = h.text_field :zip, :placeholder => "Zip (ex. 10005)"
      %br
      %br
      = i.text_area :instructions, :placeholder => "Instructions", size: "60x12"
      %br
      = i.submit "Submit!"




