#reward_info
  .rewards_image
    %img(src="/assets/images/trophy-clipart-7cagzxdcA.jpeg")
  .reward_title
    %h2 
      = "From: #{@quest.title}"
    %br
  .rewards_description
    %h3 
      = "#{@description}"
    %br
  .rewards_xp
    %h3 
      = "For: #{@quest.xp} XP"
    %br



