#content
  #user_image
    = image_tag @user.photo_url

  #user_info
    %h2
      = "First Name: #{@user.firstname}"
    %br
    %h2
      = "Last Name: #{@user.lastname}"
    %br
    %h2
      = "Email: #{@user.email}"
    %br

  #leaderboard
    = render 'leaderboard'

  #rewards
    = render 'rewards/show'

#options.sidebar
  = render 'sidebar'
