<!DOCTYPE html>
<html>
<head>
  <title>FirstPerson</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
  <%= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
</head>
<body>

<%= yield %>

</body>
</html>
