<!DOCTYPE html>
<html>
<head>
  <title>FirstPerson</title>
  <%= stylesheet_link_tag    'application', media: 'screen' %>
  <%= stylesheet_link_tag    'application', media: 'mobile' %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" %>
  <%= javascript_include_tag "https://google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" %>
</head>
<body>

  <% if logged_in? %>

    <nav>
      <div id="show" class="button psuedo_link" href='/map'>Map</div>
      <div id="profile" class="button psuedo_link" href='/users/profile'>Character</div>
      <div id="quests" class="button psuedo_link" href='/quests'>Quests</div>
      <div id="logout" class="button psuedo_link" href='/logout'>Logout</div>
      <div id="xp" class="button"><%=@user.firstname %> - Level Xp: <%= @user.total_xp%1000 %></div>
    </nav>

  <% end %>

  <div id="notification"><h1>You completed a checkpoint!</h1></div>


  <%= yield %>

</body>
</html>



